.margin50.white.center
    h1.light query account 

    if error

      - if (error === "parseError")
        p.error-messsage
         | cannot parse QR code

      - if (error === "scannerNotAvailable")
        p.error-message
         | camera not enabled

      - if (error === "networkError")
        p.error-message
         | cannot connect to network

      - if (error === "closedScanner")
        p.error-message
         | scanner closed

    p
     | tap the screen, scan a QR ripple address 

    if account
        #qr-query.qr-account-detail.qr
        p Balance: XRP
        p
            = account.balance
    else
        #qr-query.qr-account-default.qr
