.margin50.white.center
    h1.light Query an Account

    // include partials
    if error
        p
         | Error: Could not properly parse QR code

    p
     | tap the screen 
    p
     | scan a QR code of a ripple address 

    if accountToShow
        #qr-query.qr-account-detail.qr
        .spacer50
        span
         | Balance
        span
         = "  " + accountToShow.balance + "XRP"
    else
        #qr-query.qr-account-default.qr
