base-color = add-contact-base-color 

.add-contact-view-background
    background-color: base-color[medium]

.add-contact-view-label
    color: white

.add-contact-label-text
    color white

.add-contact-label-sprite
    color white

