body
    -webkit-user-select none
    user-select none
    background grays[dark]

.home-icon
    position relative
    top 25%
    left 25%
    width 50%
    height 50%
    border-radius 100px
    background white

.margin50
    margin 50px

.margin16
    margin 16px

.spacer-y-50
    padding 25px

.spacer-x-20
    padding 0 10px 0

.header
    shadow-2()
    padding-top 20px

    & h1
        display inline-block
        vertical-align middle

.qr
    display inline-block
    height 180px
    width 180px
    padding 20px
    background-color white

.clipped
    overflow hidden

.scrolls
    overflow scroll
