@import 'colors'

.button
    display inline-block

.left-button,
.right-button
    background red

.wallet-button
    background purples[medium];
    color white

.send-payment-button
    background oranges[medium];
    color white

.add-contact-button
    background reds[medium];
    color white

.query-account-button
    background greens[medium];
    color white

