highlight = "highlight"
light = "light"
medium = "medium"
dark = "dark"
darker = "darker"

grays = {
    highlight: #ecf0f1,
    light  : #bdc3c7,
    medium : #7f8c8d,
    dark   : #34495e,
    darker : #2c3e50
}

blues = {
    highlight : #85C4ED,
    light     : #58ADE3,
    medium    : #3498db,
    dark      : #0F85D1,
    darker    : #0665A2
}

pinks = {
    highlight : #F12E79,
    light     : #F884B1,
    medium    : #F45593,
    dark      : #EE035E,
    darker    : #DD0055
}

oranges = {
    highlight : #FFB878,
    light     : #F49C4D,
    medium    : #e67e22,
    dark      : #B95E0D,
    darker    : #924500
}

reds = {
    highlight : #FF998E,
    light     : #FF7364,
    medium    : #e74c3c,
    dark      : #C92918,
    darker    : #A01607
}

greens = {
    highlight : #66D8C2,
    light     : #3CC8AD,
    medium    : #1abc9c,
    dark      : #00AA89,
    darker    : #007E65
}

purples = {
    highlight : #DDB9EB,
    light     : #BD85D3,
    medium    : #9C59B6,
    dark      : #813A9D,
    darker    : #6E1F8E
}

query-account-base-color = greens
send-payment-base-color  = blues
add-contact-base-color   = reds
wallet-view-base-color   = purples
content-base-color       = grays

home-base-color = purples
buttons-base-color = pinks

.white
    color white

a[x-apple-data-detectors=true]
    text-decoration none
    color inherit !important
