@media (max-width: 340px)
    .flash-message
        font-size: 11pt

@media (min-width: 340px)
    .flash-message
        font-size: 13pt

.flash div
    padding 9px

.flash h2
    margin 0

.flash-error
    background reds[highlight];
    border 2px solid reds[darker];
    h2
        color reds[dark];
    p
        color reds[medium];

.flash-warning
    background oranges[highlight];
    border 2px solid oranges[darker];
    h2
        color oranges[dark];
    p
        color oranges[medium];

.flash-notification
    background greens[highlight];
    border 2px solid greens[darker];
    h2
        color greens[dark];
    p
        color greens[medium];

