@media (max-width: 340px)
    .flash-message
        font-size: 11pt

@media (min-width: 340px)
    .flash-message
        font-size: 13pt

.flash div
    padding 9px

.flash h2
    margin 0

.flash
    border none
    color white

.flash-error
    background reds[medium];

.flash-warning
    background oranges[light];

.flash-notification
    background greens[light];

