body {
   font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.center
    text-align center

center()
    text-align center

h1
    font-size 32px

h2
span
    font-size 24px

p
    font-size 20px

span
.bold
    font-weight 400

.light
    font-weight 200

.lighter
    font-weight 100

.vertical-center 
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

.vertical-bottom
    position: relative;
    top: 100%;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
