base-color = home-base-color

.home-header
    center();
    background-color base-color[medium];

.home-background
    background-color base-color[highlight];

.home-info-button
    background-color base-color[darker]

.home-share-button
    background-color base-color[dark]

.home-send-button
    background-color base-color[light]
