base-color = home-base-color

.home-header
    center();
    background-color base-color[darker];

.home-background
    background-color white;

.home-info-button
    background-color base-color[darker];
    &.pressDown
        background-color base-color[light]

.home-share-button
    background-color base-color[darker];

.home-send-button
    background-color base-color[darker];
    &.pressDown
        background-color base-color[light]
