.home-header
    center();
    background-color home-base-color[medium];

.home-background
    background-color white

.home-info-button
    background-color home-base-color[darker]

.home-share-button
    background-color home-base-color[dark]

.home-send-button
    background-color home-base-color[light]
