base-color = send-payment-base-color 

form.send-payments-content-form
    color: grays[dark]

.send-payment-background
    //background base-color[medium];
    background white

.send-payment-header
    display inline-block
    background base-color[darker];

@media (max-width: 360px)
    .send-payment-header
        padding-left 16px

@media (min-width: 360px)
    .send-payment-header
        center()

.send-payments-camera-button i
    vertical-align middle

.send-payment-label-text
    color grays[dark];

.send-payment-label-sprite
    color grays[dark];

input
    display block
    margin 40px auto 0
    width 100%
    border none
    outline none
    border 0
    border-radius 0
    border-bottom 1px solid base-color[dark];
    -webkit-appearance none

    &:active, &:focus
        border-bottom 1px solid pinks[dark];

    &#amount-input
        font-size 13px

@media (max-width: 360px)
    input#account-input
        font-size 11pt

@media (min-width: 360px)
    input#account-input
        font-size 13pt

div.press-here-for-qr-code
  height 12px
  
  i
    float right
    padding 0 12px 0

  label
    float right

  .fadeout
    animation-name fadeout
    animation-duration 1.5s
    animation-delay 2s
    animation-timing-function ease-in
    animation-fill-mode forwards

