base-color = send-payment-base-color 

.send-payment-background
    background base-color[medium];

.send-payment-label-text
    color: white

.send-payment-label-sprite
    color: white

input
    display block
