base-color = buttons-base-color

.slider-button-gradient-background {
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 52%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(52%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 52%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 52%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 52%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 52%); /* W3C */
}

.round
    border-radius 10000px

.slider-button
    background base-color[medium];

i.fa
    text-align center
    padding 12px
    font-size 26px
    width 26px

/*
.home-info-button
    background base-color[light];

.home-share-button
    background base-color[medium];

.home-send-button
    background base-color[darker];
*/

.left-back-button
    //background base-color[darker];
    background blues[darker];

    &.pressDown
        background blues[light];

.send-payments-check-balance-button
    background base-color[highlight];

.send-payments-send-button
    background greens[light];

/*
.send-payments-camera-button
    background base-color[medium];
*/


