base-color = wallet-view-base-color

.wallet-view-background
    background base-color[medium]

.wallet-view-label
    color white

.wallet-label-text
    color white

.wallet-label-sprite
    color white

